@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.custom-img {
	background-image: url("/assets/images/hero-bg.jpg");
}
.custom-img2 {
	background-image: url("/assets/images/cta-bg.jpg");
}
